body
{
font-family: Georgia, "Bitstream Charter", serif;
font-size: 12pt;
line-height: 1.6em;
margin-top:25px;
margin-bottom:25px;
margin-right:50px;
margin-left:50px;
}

h2
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 10pt;
border-collapse:collapse;
}


td , th
{
border:0px;
padding:3px 7px 2px 7px;
}

th 
{
font-size: 12pt;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#FDFDFD;
color:#101010;
}

tr.alt td 
{
color:#000000;
background-color:#F1F1F1;
}

table.inscrits
{
	border:1px solid #f1f1f1;
	font-size: 8pt;
}

table.inscrits td, table.inscrits th
{
	border:2px solid #f1f1f1;
	font-size: 8pt;
}
